{% block layout_navigation_offcanvas_navigation_about_us %}
	<div class="divider"></div>
	<ul class="list-unstyled navigation-offcanvas-list">
		<li class="navigation-offcanvas-list-item">
			<a class="navigation-offcanvas-link nav-item nav-link about" href="/Hof-Handwerk/" itemprop="url" title="Hof und Handwerk">
				<span itemprop="name">
					Hof & Handwerk
				</span>

			</a>
		</li>
		<li class="navigation-offcanvas-list-item last">
			<a class="navigation-offcanvas-link nav-item nav-link" href="/Laeden-Verkauf/" itemprop="url" title="Läden und Verkauf">
				<span itemprop="name">
					Läden & Verkauf
				</span>
			</a>
		</li>
	</ul>
{% endblock %}
