<div class="col-9 d-none" data-tab="angus">
	<div class="row">
		<div class="col-12">
			<div class="content-flyout-gallery d-flex justify-content-between">
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/angus-1.jpg') }}" class="img-fluid">
				</div>
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/angus-2.jpg') }}" class="img-fluid">
				</div>
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/angus-3.jpg') }}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="flyout-subline">
				Angusrinder
			</div>
		</div>
	</div>
</div>
