<div class="col-9 d-none" data-tab="gastro">
	<div class="row">
		<div class="col-12">
			<div class="content-flyout-gallery d-flex justify-content-between">
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/gastro-1.jpg') }}" class="img-fluid lazyload">
				</div>
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/gastro-2.jpg') }}" class="img-fluid lazyload">
				</div>
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/gastro-3.jpg') }}" class="img-fluid lazyload">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="flyout-subline">
				Gastronomie und Handel
			</div>
		</div>
	</div>
</div>
