<div class="col-9" data-tab="kerkow">
	<div class="row">
		<div class="col-12">
			<div class="content-flyout-gallery d-flex justify-content-between">
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/kerkow-1.jpg') }}" class="img-fluid lazyload">
				</div>
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/kerkow-2.jpg') }}" class="img-fluid lazyload">
				</div>
				<div class="content-flyout-image">
					<img data-src="{{ asset('bundles/kerkow/img/kerkow-3.jpg') }}" class="img-fluid lazyload">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="flyout-subline">
				Hofladen Kerkow
			</div>
		</div>
	</div>
</div>
