<div class="col-9" data-tab="lws">
	<div class="row">
		<div class="col-12">
			<div class="content-flyout-gallery d-flex justify-content-between">
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/landwirtschaft-1.jpg') }}" class="img-fluid">
				</div>
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/landwirtschaft-2.jpg') }}" class="img-fluid">
				</div>
				<div class="content-flyout-image">
					<img src="{{ asset('bundles/kerkow/img/landwirtschaft-3.jpg') }}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="flyout-subline">
				Ökologische Landwirtschaft
			</div>
		</div>
	</div>
</div>
