<div class="col-9 d-none" data-tab="winter">
  <div class="row">
    <div class="col-12">
      <div class="content-flyout-gallery d-flex justify-content-between">
        <div class="content-flyout-image">
          <img
            data-src="{{ asset('bundles/kerkow/img/winterfeldt-1.jpg') }}"
            class="img-fluid lazyload"
          />
        </div>
        <div class="content-flyout-image">
          <img
            data-src="{{ asset('bundles/kerkow/img/winterfeldt-2.jpg') }}"
            class="img-fluid lazyload"
          />
        </div>
        <div class="content-flyout-image">
          <img
            data-src="{{ asset('bundles/kerkow/img/winterfeldt-3.jpg') }}"
            class="img-fluid lazyload"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="flyout-subline">Bio-Metzgerei Berlin-Schöneberg</div>
    </div>
  </div>
</div>
