{% block sw_cms_block_two_full_stretch_images %}
	<div class="sw-cms-block-two-full-stretch-images">
		<div class="sw-cms-block-text-on-image">
			<slot name="content"></slot>
		</div>
		<slot name="left"></slot>
		<slot name="right"></slot>
	</div>
{% endblock %}
