{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}


{% block component_address_address_editor_modal %}
	<div class="js-address-editor" {% if customerZip is defined %} data-address-edit-check="true" data-address-mode="{{ shippingMode }}" data-change-shipping="{{ changeShipping }}" data-url="{{ path('frontend.custom.addZip') }}?zip=" {% endif %}>
		{% block component_address_address_editor_modal_inner %}
			{{ parent() }}
		{% endblock %}
	</div>
{% endblock %}
