{% block sw_cms_block_gallery_text %}
	<div class="sw-cms-block-gallery-text">
		<slot name="left">
			{% block sw_cms_block_gallery_text_slot_left %}
			{% endblock %}
		</slot>
		<slot name="right">
			{% block sw_cms_block_gallery_text_slot_right %}
			{% endblock %}
		</slot>
	</div>
{% endblock %}
