{% block sw_cms_block_product_four_column %}
	<div class="sw-cms-block-product-four-column">
		<slot name="one"></slot>
		<slot name="two"></slot>
		<slot name="three"></slot>
		<slot name="four"></slot>
	</div>
{% endblock %}
