{% block sw_cms_block_two_full_stretch_images_preview %}
	<div class="sw-cms-preview-two-full-stretch-images">
		<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
	</div>
	<div class="sw-cms-preview-two-full-stretch-images">
		<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
	</div>
{% endblock %}
