<sw-page>
    <template slot="smart-bar-header">
        {% block idowapro_feed_generator_feed_list_smart_bar_header %}
        <h2>{{ $tc('product-feed.list.title') }}</h2>
        {% endblock %}
    </template>
    <template slot="smart-bar-actions">
        {% block idowapro_feed_generator_feed_list_smart_bar_actions %}
        <sw-button :routerLink="{ name: 'product.feed.logs' }">
            {{ $tc('product-feed.list.logs') }}
        </sw-button>
        <sw-button variant="primary" :routerLink="{ name: 'product.feed.create' }">
            {{ $tc('product-feed.list.addProductFeed') }}
        </sw-button>
        {% endblock %}
    </template>
    <template slot="content">
        {% block idowapro_feed_generator_feed_list_block %}
        <sw-entity-listing
            v-if="feeds"
            :repository="repository"
            :columns="columns"
            :items="feeds"
            :isLoading="isLoading"
            :fullPage="true"
            detailRoute="product.feed.detail"
        >
            <template #column-lastGeneratedLink="{ item }">
                <a v-if="item.latestFile" :href="'./feeds/' + item.linkToLastGenerated">{{ item.linkToLastGenerated }}</a>
                <p v-else>---</p>
            </template>
        </sw-entity-listing>
        {% endblock %}
    </template>
</sw-page>


