<sw-page>
    <template slot="smart-bar-header">
        {% block idowapro_feed_generator_logs_list_smart_bar_header %}
        <h2>{{ $tc('product-feed.logs.title') }}</h2>
        {% endblock %}
    </template>
    <template slot="smart-bar-actions">
        {% block idowapro_feed_generator_logs_list_smart_bar_actions %}
        <sw-button :routerLink="{ name: 'product.feed.list' }">
            {{ $tc('product-feed.logs.back') }}
        </sw-button>
        {% endblock %}
    </template>
    <template slot="content">
        {% block idowapro_feed_generator_logs_list_content %}
        <sw-entity-listing
            v-if="logs"
            :repository="repository"
            :columns="columns"
            :items="logs"
            :fullPage="true"
            :isLoading="isLoading"
            detailRoute="product.feed.logDetails"
        >
        </sw-entity-listing>
        {% endblock %}
    </template>
</sw-page>
