<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/v6.4.0.0/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <input-field type="bool">
            <name>enableTracking</name>
            <label>Enable tracking</label>
            <label lang="de-DE">Tracking aktivieren</label>
        </input-field>

        <input-field>
            <name>containerId</name>
            <label>Container ID</label>
            <label lang="de-DE">Container ID</label>
        </input-field>

        <input-field type="bool">
            <name>debugEnabled</name>
            <label>Enable pixel event debug in Javascript console</label>
            <label lang="de-DE">Aktiviere Pixel Event Debug in der Javascript Konsole</label>
            <helpText>By activating the debug mode you get detailed information in the Javascript console which pixels and events are fired with which data.</helpText>
            <helpText lang="de-DE">Durch die Aktivierung des Debug-Modus erhalten Sie detailierte Information in der Javascript Konsole welche Pixel und Events mit welchen Daten gefeuert werden.</helpText>
        </input-field>
    </card>
</config>
