{% block layout_navigation_search %}

	{% block layout_navigation_search_button %}
		<div class="nav-link main-navigation-link main-navigation-search" data-search-flyout-menu-trigger="true">
			<div class="main-navigation-link-text">
				<span itemprop="name">
					{% sw_icon 'search' %}
				</span>
			</div>
		</div>
	{% endblock %}

{% endblock %}
