{% block layout_footer_bottom %}
	<div class="footer-bottom">
		<div class="d-flex">
			{% block layout_footer_copyright %}
				<div class="footer-copyright mr-auto">
					{{ "footer.copyrightInfo"|trans|sw_sanitize }}
				</div>
			{% endblock %}
			{% block layout_footer_service_menu %}
				{% block layout_footer_service_menu_content %}
					<div class="footer-legal">
						<ul class="footer-service-legal-list list-unstyled">
							{% block layout_footer_service_menu_item %}
								<li class="footer-service-legal-item">
									<a class="footer-service-legal-link" href="/Impressum/" title="Impressum">
										Impressum
									</a>
								</li>
								<li class="footer-service-legal-item">
									<a class="footer-service-legal-link" href="/Datenschutz/" title="Datenschutz">
										Datenschutz
									</a>
								</li>
							{% endblock %}
						</ul>
					</div>
				{% endblock %}
			{% endblock %}

		</div>

	</div>
{% endblock %}
