{% block sw_cms_block_custom_form_preview %}
	<div class="sw-cms-preview-custom-form">
		<h4 class="sw-cms-preview-custom-form-headline">
			{{ $tc('sw-cms.elements.form.preview.label.form') }}
		</h4>
		<div class="sw-cms-preview-custom-form-inputs">
			<div class="sw-cms-preview-custom-form-input"></div>
			<div class="sw-cms-preview-custom-form-input"></div>
		</div>
		<div class="sw-cms-preview-custom-form-input"></div>
		<div class="sw-cms-preview-custom-form-inputs__action">
			{{ $tc('sw-cms.elements.form.preview.label.send') }}
		</div>
	</div>
{% endblock %}
