{% sw_extends '@Storefront/storefront/component/product/feature/base.html.twig' %}

{% block component_product_feature_list_item_base_content %}
    <span class="product-feature-value">
        {% block component_product_feature_list_item_base_content_value %}
            {{ value|sw_sanitize }}
        {% endblock %}
    </span>
{% endblock %}