{% block sw_cms_block_gallery_text_preview %}
	<div class="sw-cms-preview-gallery-text">
		<div class="sw-cms-preview-image-slider">
			<sw-icon name="default-arrow-head-left" size="20"></sw-icon>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<sw-icon name="default-arrow-head-right" size="20"></sw-icon>
		</div>
		<div>
			<h2>
				Lorem ipsum dolor
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
			</p>
		</div>
	</div>
{% endblock %}
