{% sw_extends '@Storefront/storefront/element/cms-element-text.html.twig' %}
{% block element_text %}
	{%  set config = element.fieldConfig.elements %}

	<div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}" {% if isProductListContent %} data-content-product-list="true" {% endif %}>

		{% block element_text_alignment %}
			{% if isProductListContent %}
				<div class="cms-element-expandable-text-container js-expandable-text-container">
				{% endif %}

				{% if config.verticalAlign.value %}
					<div class="cms-element-alignment{% if config.verticalAlign.value == " center" %} align-self-center{% elseif config.verticalAlign.value == " flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
					{% endif %}
					{% block element_text_inner %}
						{{ element.data.content|raw }}
					{% endblock %}
					{% if config.verticalAlign.value %}
					</div>
				{% endif %}
				{% if isProductListContent %}
					<div class="bottom-blur">
						<span class="js-expand-text js-expand arrow-down">
							{% sw_include '@kerkow/storefront/custom/icons/arrow-icon.html.twig' %}
						</span>
						<span class="js-expand-text js-close arrow-up d-none">
							{% sw_include '@kerkow/storefront/custom/icons/arrow-icon.html.twig' %}
						</span>
					</div>
				</div>
			{% endif %}
		{% endblock %}
	</div>
{% endblock %}
