{% block sw_cms_preview_content_product_listing %}
	<div class="sw-cms-preview-content-product-listing">
		<sw-cms-product-box-preview></sw-cms-product-box-preview>
		<sw-cms-product-box-preview></sw-cms-product-box-preview>

		<div class="sw-cms-preview-content-product-list__content">
			<h2>
				Lorem ipsum dolor
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
																							            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
																							            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
																							            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
		</div>
	</div>
{% endblock %}

