{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
{% block page_product_detail_buy_quantity_container %}
	<div class="col-12 product-detail-qty-select">

		{% block page_product_detail_buy_quantity %}
			{{ parent() }}
		{% endblock %}
	</div>
{% endblock %}


{% block page_product_detail_buy_button_container %}
	<div class="col-12">
		{% block page_product_detail_buy_button %}
			<button class="btn btn-primary btn-block btn-buy" title="{{ "detail.addProduct"|trans|striptags }}" aria-label="{{ "detail.addProduct"|trans|striptags }}">
				<span class="button-cart-icon">
					{% sw_include '@kerkow/storefront/custom/icons/bag-icon.html.twig' %}
				</span>
				{{ "detail.addProduct"|trans|sw_sanitize }}
			</button>
		{% endblock %}
	</div>
{% endblock %}
