{% block sw_cms_block_content_product_listing %}
	<div class="sw-cms-block-content-product-listing">
		<slot name="animal"></slot>
		<slot name="content"></slot>
		<slot name="products"></slot>
	</div>
{% endblock %}

