{% block conten_navigation_links %}
	<nav class="navbar navbar-expand-sm navbar-light navbar-actions">
		<div class="navbar-collapse content-navigation" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">

					<a class="nav-link" href="/Hof-Handwerk/" data-content-reference="huh">
						{{- "Hof & Handwerk" -}}
					</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Laeden-Verkauf/" data-content-reference="luv">
						Läden & Verkauf
					</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}
