{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}
{% block layout_header %}
	{% block layout_top_bar %}
		{% if context.salesChannel.customFields["custom_global_notice_active"] %}
			<div class="global-notice d-none d-md-block">
				{{ "kerkow.globalNotice"|trans }}
			</div>
		{% endif %}
	{% endblock %}

	{% block layout_header_navigation %}
		<div class="d-flex justify-content-center justify-content-md-between mb-3">
			{% block layout_header_content_navigation %}
				<div class="d-none d-md-block">
					{% sw_include '@kerkow/storefront/layout/header/content-navigation.html.twig' %}
				</div>
			{% endblock %}
			{% block layout_header_logo %}
				<div class="p-2">
					{% sw_include '@kerkow/storefront/layout/header/logo.html.twig' %}
				</div>
			{% endblock %}
			{% block layout_header_actions %}
				<div class="navbar-header-actions">
					<nav class="navbar navbar-expand-sm navbar-light navbar-actions">
						<div class="navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								{% block layout_header_actions_account %}
									{% sw_include '@Kerkow/storefront/layout/header/header-actions.html.twig' %}
								{% endblock %}
							</ul>
						</div>
					</nav>
				</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
