{% block layout_header_logo_inner %}
	{% block layout_header_logo_image_default %}
		<nav class="navbar">
			<div class="logo-container">
				<a href="#">
					<img src="{{ asset('bundles/kerkow/img/kerkow-logo.png') }}" alt="{{ "header.logoLink"|trans|striptags }}" class="header-logo-main-img" onerror="this.src=this.src.replace('.svg','.png'); this.onerror=null;">
				</a>
			</div>
		</nav>
	{% endblock %}
{% endblock %}
